@import "tailwindcss";

body {
  font-family: var(--font-inter);
}

@theme {
  --color-primary: #63edd1;
  --color-dark: #101114;
  --color-light: #fff9f5;
  --color-subtext: #6a7282;
  --color-border: #6a7282;
  --color-accent: #e75f00;
}
